@import 'normalize-scss';
@include normalize();

#app {
  font-family: Helvetica, Arial, sans-serif;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  background-color: $surface-100;
}

html,
body {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 48px;
  max-width: 1200px;

  @include largeDesktop {
    padding: 36px;
  }

  @include desktop {
    padding: 24px;
  }

  @include largeTablet {
    padding: 20px;
  }
  
  @include tablet {
    padding: 16px;
  }

  @include phone {
    padding: 12px;
  }
}
